* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    width: max;
    height: 1000px;
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 200px;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.mainleft{
    padding-left: 200px;
}

h2{
    font-size: 50px;
    font-weight: lighter;
    text-decoration: underline black;
}

h1{
    font-size: 100px;
    font-weight: 700;
}

p{
    font-size: 20px;
}

.mainright{
    padding-left: 150px;
}

.mainright .text{
    font-size: 70px;
    color: white;
    text-decoration: none;
}

.mainright button{
    border-style: none;
    background-color: black;
    padding: 10px;
    border-radius: 2.5%;
}

.mainright button:hover{
    transform: scale(1.5);
}