* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    width: max;
    height: 1000px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 200px;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainleft{
    padding-left: 290px;
}

h2{
    font-size: 50px;
    font-weight: lighter;
    text-decoration: underline black;
}

h1{
    font-size: 100px;
    font-weight: 700;
}

p{
    font-size: 20px;
}

.mainright{
    padding-left: 250px;
}

.mainright .text{
    font-size: 50px;
    color: white;
    text-decoration: none;
}

.mainright button{
    border-style: none;
    background-color: black;
    padding: 10px;
    border-radius: 4%;
}