* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.buttons{
    display: flex;
    justify-content: space-between;
}

.header button{
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.header button:hover{
    cursor: grab;
}

.header h1{
    font-size: 90px;
    color: black;
}

.designs h1{
    color: white;
}

.designs h2{
    color: white;
}

.designs{
    width: max;
    height: 3400px;
    background-color: black;
}

.one{
    width: 1600px;
    height: 200px;
    background-color: darkslategrey;
}

.one img{
    
    height: 100px;
}

.onepic{
    
}

.one h2{
    color: black;
}

.onetop{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background-color: firebrick;
    border-bottom: solid black;
}

.onemid{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.onebot{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.onebot button{
    padding-top: 10px;
    font-size: 20px;
    background-color: transparent;
    border-style: none;
    text-decoration: underline;
}

.pkballfooter:hover{
    transform: rotate(-30deg);
}

.onebuttons:hover{
    cursor: help;
}

.two{
    width: 1600px;
    height: 450px;
    background-image: url(/assets/img/bgtetris.jpg);
    background-size: cover;
}

.tetrisup{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.tetrisup h2{
    font-size: 40px;
    color: orange;
}

.all:hover{
    color: indigo;
}

.tetrisdown{
    padding-top: 170px;
    display: flex;
    justify-content: center;
    gap: 50px;
}


.ig{
    height: 50px;
}

.fb{
    height: 5cqh;
}

.iga{
    height: 50px;
}

.fba{
    height: 5cqh;
}

.iga:hover{
    scale: 1.5;
}

.fba:hover{
    scale: 1.5;
}

.three{
    width: 1600px;
    height: 200px;
    background-color: crimson;
    display: flex;
    padding-left: 200px;
}

.three .left{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    font-size: 35px;
    justify-content: flex-end;
    font-family: fantasy;
    color: crimson;
    background-color: white;
    margin-left: 70px;
    border-right: 10px solid black;
    border-left: 10px solid black;
}


.three .right{
    margin-left: 10px;
    width: 500px;
    height: 190px;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.leftimg img{
    height: 180px;
}

.right button{
    color: white;
    font-size: 40px;
    padding: 10px;
    background-color: black;
    border-style: none;
    border-width: 5px;
    border-style: double;
    border-color: white;
    border-radius: 3%;
    font-family: fantasy;
}


.three .lefta{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    font-size: 35px;
    justify-content: flex-end;
    font-family: fantasy;
    color: crimson;
    background-color: white;
    margin-left: 70px;
    border-right: 10px solid black;
    border-left: 10px solid black;
}


.three .righta{
    margin-left: 10px;
    width: 500px;
    height: 190px;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.leftimga img{
    height: 180px;
}

.righta button{
    color: white;
    font-size: 40px;
    padding: 10px;
    background-color: black;
    border-style: none;
    border-width: 5px;
    border-style: double;
    border-color: white;
    border-radius: 3%;
    font-family: fantasy;
}

.lefta p:hover{
    background-color: crimson;
    color: white;
}

.righta button:hover{
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

.four{
    width: 1600px;
    height: 200px;
    background-color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
    width: 1600px;
    height: 50px;
    background-color: white;
}

.actual h2{
    text-decoration: underline;
    text-decoration-color: white;
}

.actualanim h2{
    text-decoration: underline;
    text-decoration-color: white;
}

.actual{
    width: 1600px;
    height: 150px;
    display: flex;
    gap: 150px;
    padding-left: 100px;
    margin-top: 20px;
}

.actualanim{
    width: 1600px;
    height: 150px;
    display: flex;
    gap: 150px;
    padding-left: 100px;
    margin-top: 20px;
}

.actual p{
    margin-top: 8px;
    margin-left: 20px;
    font-size: 15px;
    color: white;
}

.actualanim p{
    margin-top: 8px;
    margin-left: 20px;
    font-size: 15px;
    color: white;
}

.actual button{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    padding: 5px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    background-color: white;
    border: none;
}

.actualanim button{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    background-color: white;
    border: none;
}

.title img{
    height: 50px;
    margin-left: 100px;
}

.actual img{
    margin-top: 20px;
    margin-left: 10px;
    height: 50px;
}

.actualanim img{
    margin-top: 20px;
    margin-left: 10px;
    height: 50px;
}


.five{
    width: 1600px;
    height: 200px;
    background-color: green;
    display: flex;
    justify-content: space-around;
}

.five img{
    height: 200px;
}

.five .middle{
    text-align: center;
    margin-top: 80px;
}

.five h2{
    font-size: 40px;
}

.five p{
    font-size: 20px;
}

.leftimga:hover{
    transform: translate(15px);
}

.map:hover{
    cursor: help;
}

.schoolname:hover{
    text-decoration: underline 2px solid white;
}

.hyper:hover{
    color: cornflowerblue;
    text-decoration: underline 1px solid cornflowerblue;
}

.uniqlogo:hover{
    transform: translate(1200px);
}

.actualanim h2:hover{
    transform: scale(1.2);
}

.actualanim p:hover{
    text-transform: uppercase;
}

.none:hover{
    text-transform: none;
}

.actualanim img:hover{
    transform: rotateY(220deg);
}

.actualanim button:hover{
    background: crimson;
    color: white;
    border: double 5px white;
}