* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500vh;
    width: 100vw;
  }

.buttons{
    display: flex;
    justify-content: space-between;
}

.header button{
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.header button:hover{
    cursor: grab;
}

.header h1{
    font-size: 90px;
    color: black;
}

.designs h1{
    color: white;
}

.designs h2{
    color: white;
}

.designs{
    width: max;
    height: 1800px;
    background-color: black;
}

.one{
    width: 1600px;
    height: 200px;
    background-color: darkslategrey;
}

.one img{
    
    height: 100px;
}

.onepic{
    
}

.one h2{
    color: black;
}

.onetop{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background-color: firebrick;
    border-bottom: solid black;
}

.onemid{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.onebot{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.onebot button{
    padding-top: 10px;
    font-size: 20px;
    background-color: transparent;
    border-style: none;
    text-decoration: underline;
}

.two{
    width: 1600px;
    height: 450px;
    background-image: url(/assets/img/bgtetris.jpg);
    background-size: cover;
}

.tetrisup{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.tetrisup h2{
    font-size: 40px;
    color: orange;
}

.tetrisdown{
    padding-top: 170px;
    display: flex;
    justify-content: center;
    gap: 50px;
}


.ig{
    height: 50px;
}

.fb{
    height: 5cqh;
}