* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 500vh;
    width: 100vw;
  }


.header button{
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 600px;
}

.header button:hover{
    cursor: grab;
}

.header h1{
    font-size: 90px;
}

.designs{
    padding-left: 250px;
    width: max;
    height: 950px;
    background-color: beige;
}

.one{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1600px;
    height: 200px;
    background-color: gray;
}