* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500vh;
    width: 100vw;
  }

.buttons{
    display: flex;
    justify-content: space-between;
}


.header button{
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.header button:hover{
    cursor: grab;
}

.maintitle{
    color: black;
}

h2{
    color: white;
}

.designs h1{
    color: white;
}

.header h1{
    font-size: 90px;
    color: black;
}

.designs{
    width: max;
    height: 1700px;
    background-color: black;
}

.one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
}

.pokeball img{
    margin-left: 20px;
    width: 90px;
    height: 90px;
    padding: 10px;
}

.one .options{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
    height: 100px;
    background-color: firebrick;
}

.options button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline white;
    padding: 5px;
    border-style: none;
    height: 70px;
    font-size: 45px;
    background-color: transparent;
    margin-right: 20px;
}

.two{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1600px;
    height: 100px;
    background-color: indigo;
}

.tetrislogo img{
    width: 120px;
    height: 80px;
}

.tetrislog img{
    width: 120px;
    height: 80px;
}
.mb{
    width: 200px;
    height: 75px;
    font-size: 30px;
    background-color: darkorchid;
    border-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mbs{
    width: 200px;
    height: 75px;
    font-size: 30px;
    background-color: darkorchid;
    border-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ab{
    width: 120px;
    height: 75px;
    font-size: 30px;
    background-color: green;
    border-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.abs{
    width: 120px;
    height: 75px;
    font-size: 30px;
    background-color: green;
    border-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.acb{
    width: 170px;
    height: 75px;
    font-size: 30px;
    background-color: orange;
    border-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.acbs{
    width: 170px;
    height: 75px;
    font-size: 30px;
    background-color: orange;
    border-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.dl{
    padding: 5px;
    font-size: 50px;
    border: 2px double white;
    background-color: cornflowerblue;
    height: 70px;
    border-radius: 2.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dr{
    padding: 5px;
    font-size: 50px;
    border: 2px double white;
    background-color: cornflowerblue;
    height: 70px;
    border-radius: 2.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.three{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1600px;
    height: 100px;
    background-color: crimson;
}

.three .logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 400px;
}

.three .log{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 400px;
}

.logo img{
    background-color: white;
    width: 160px;
    height: 100px;
}

.log img{
    background-color: white;
    width: 160px;
    height: 100px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 500px;
}

.menubuttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 500px;
}

.menubuttons button{
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 40px;
    font-family: fantasy;
}

.menu button{
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 40px;
    font-family: fantasy;
}

.four{
    display: flex;
    align-items: center;
    width: 1600px;
    height: 100px;
    background-color: white;
}


.choice{
    display: flex;
}

.choicefour{
    display: flex;
}

.searchbar{
    height: 200px;
    margin-bottom: 20px;
}

.qr{
    margin-top: 62px;
    height: 90px;
}

.qrstatic{
    margin-top: 62px;
    height: 90px;
}

.choice button{
    color: crimson;
    font-size: 30px;
    background-color: transparent;
    border-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.choicefour button{
    color: crimson;
    font-size: 30px;
    background-color: transparent;
    border-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.identity img{
    margin-top: 4px;
    margin-left: 700px;
    height: 100px;
}

.identitystatic img{
    margin-top: 4px;
    margin-left: 700px;
    height: 100px;
}

.five{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
    height: 100px;
    background-color: green;
}

.itam img{
    height: 90px;
    margin-left: 20px;
}

.itamstatic img{
    height: 90px;
    margin-left: 20px;
}

.mottostatic h2{
    font-size: 50px;
    color: white;
}

.motto h2{
    font-size: 50px;
    color: white;
}

.borg img{
    height: 80px;
    margin-right: 20px;
}

.borgstatic img{
    height: 80px;
    margin-right: 20px;
}



.ball:hover{
    rotate: -30deg;
    animation: shake 0.5s;
}

.dex:hover{
    transform: scale(1.2);
}

.prod:hover{
    transform: scale(1.2);
}

.new:hover{
    transform: scale(1.2);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.mb:hover{
    animation: bounce 0.5s;
}

.ab:hover{
    animation: bounce 0.5s;
}

.acb:hover{
    animation: bounce 0.5s;
}


.tetrislogo img:hover{
    animation: bounce 0.5s;
}


@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

.dl:hover {
    background: linear-gradient(to right, rgb(22, 113, 202) 50%, transparent 50%);
    animation: spin 1s infinite linear;
  }

.loader:before {
    display: block;
    content: '';
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background: #222;
    border-radius: 50%;
}

.logo img:hover{
    animation: hithere 1s ease infinite;
  }

@keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }

.menu button:hover{
    background-color: red;
    height: 100px;
}

.qr:hover {
    animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}

.choice .searchbar:hover{
    cursor: text;
}

.choice button:hover{
    cursor: pointer;
}

.identity img:hover{
    animation: pulse 1s infinite ease-in-out alternate;
}

.itam img:hover{
    animation: flash 500ms ease infinite alternate;
}

@keyframes flash {
      from { opacity: 1; }	
      to { opacity: 0; }
}

.motto h2:hover{
    font-size: 75px;
}

.borg img:hover{
    cursor: help;
}